* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E0AAFF;
    font-size: 24px;
    font-family: "Roboto Slab", serif;
}

#container {
    width: 24rem;
    margin: 0rem auto;
    /* margin-top: 4rem; */
}

#calc-body {
    border: 2px solid black;
    border-radius: 8px;
    background-color: #C77DFF;
    box-shadow: 8px 10px black;
    display: flex;
    flex-direction: column;
}

#calc-display {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 8px;
    height: 6rem;
    margin: 1.5rem 2rem;
    padding: 0.5rem;
    background-color: #CED4DA;
    font-family: "Roboto Mono", monospace;
    font-size: 28px;
}

#calc-display-top {
    flex: auto;
    display: flex;
    column-gap: 0.5rem;
    flex-wrap: nowrap;
    height: 3rem;
}

#calc-display-bottom {
    flex: auto;
    height: 3rem;
    align-self: flex-end;
}

.calc-buttons {
    background-color: black;
    border-top: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

button {
    font-size: 24px;
    font-family: "Roboto Slab", serif;
    text-align: center;
    border: 1px solid black;
    height: 4rem;
    line-height: 4rem;
}

button:hover,
#decimal:hover,
#equals:hover {
    background-color: red;
    cursor: pointer;
}

[data-type='number'] {
    background-color: #CED4DA;
}

[data-type='operator'],
[data-type='clear'],
[data-type='change-sign'] {
    background-color: #6C757D;
}

#fun, #decimal {
    background-color: #ADB5BD;
}

#fun {
    border-radius: 0 0 0 8px;
    cursor: default;
}

#equals {
    background-color: #C77DFF;
    border-radius: 0 0 6px 0;
}

